header::after {
    content: "";
    display: block;
    height: 60px;
}

@media (max-width: 950px) {
    header::after {
        content: "";
        display: block;
        height: 45px;
    }
}

/*header-pc*/

header {
    position: relative;
    width: 100%;
}

.header-pc__fixed {
    background-color:#fff;
    width: 100%;
    height: 77px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 8;
}

.header-pc__img {
    position: relative;
    margin-top: 15px;
    margin-left: 30px;
    z-index: 10;
}

.header-pc__img__img {
    height: 50px;
}

.header-pc__nav {
    position: fixed;
    top: 0;
    right: 72px;
    z-index: 999;
}
.header_active .header-pc__nav {
    z-index: -1;
}
.header_active{
z-index: 999;
}
.header-pc__nav__list {
    position: relative;
    display: inline-block;
    height: 35px;
    margin-top: 30px;
    margin-right: 32px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.header-pc__nav__list::before {
    position: absolute;
    display: inline-block;
    content: "";
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: var(--textcolor);
    transition: 0.5s;
}

.header-pc__nav__list:hover::before {
    width: 100%;
}

.header-pc__nav__list a {
    display: inline-block;
    height: 36px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
}

.header-pc__nav__list_img {
    position: relative;
    padding-right: 28px;
}

.header-pc__nav__list_img img {
    position: absolute;
    top: 0px;
    right: 0;
}

/*header-sp*/

.header-sp {
    display: none;
}

.header-sp__img {
    position: relative;
    height: 35px;
    margin-top: 22px;
    margin-left: 15px;
    z-index: 9;
}

.header-sp__btn {
    position: relative;
    z-index: 9;
}

.header-sp__img img {
    height: 100%;
}

/*表示切り替え*/

@media (max-width: 950px) {
    .header-pc {
        display: none;
    }
    .header-sp {
        position: fixed;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 9999;
        background-color: #fff;
    }
}

/*btn*/

.header-pc__btn, .header-pc__btn span, .header-sp__btn, .header-sp__btn span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.header-pc__btn {
    position: relative;
    width: 35px;
    height: 29px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    z-index: 9;
}

.header-sp__btn {
    position: relative;
    width: 30px;
    height: 22px;
    background: none;
    border: none;
    appearance: none;
    cursor: pointer;
    z-index: 9;
}

.header-pc__btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--textcolor);
    border-radius: 4px;
    transition: 1s;
}

.header-sp__btn span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--textcolor);
    border-radius: 1px;
    transition: 1s;
}

.header-pc__btn span:nth-of-type(1) {
    top: 0;
}

.header-pc__btn span:nth-of-type(2) {
    top: 13px;
}

.header-pc__btn span:nth-of-type(3) {
    bottom: 0;
}

.header-sp__btn span:nth-of-type(1) {
    top: 0;
}

.header-sp__btn span:nth-of-type(2) {
    top: 10px;
}

.header-sp__btn span:nth-of-type(3) {
    bottom: 0;
}

.header-pc__btn {
    margin-top: 25px;
    margin-right: 30px;
}

.header-sp__btn {
    margin-top: 22px;
    right: 15px;
}

.header-pc__btn_active button span:nth-of-type(1) {
    transform: rotate(45deg) translate(8px, 10px);
    background-color: #fff;
}

.header-pc__btn_active button span:nth-of-type(2) {
    opacity: 0;
    background-color: #fff;
}

.header-pc__btn_active button span:nth-of-type(3) {
    transform: rotate(-45deg) translate(8px, -10px);
    background-color: #fff;
}

.header-sp__btn_active span:nth-of-type(1) {
    transform: rotate(45deg) translate(7px, 7px);
    background-color: #fff;
}

.header-sp__btn_active span:nth-of-type(2) {
    opacity: 0;
    background-color: #fff;
}

.header-sp__btn_active span:nth-of-type(3) {
    transform: rotate(-45deg) translate(7px, -7px);
    background-color: #fff;
}

/*表示非表示*/

.header-pc__img__img_white {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.header-pc__img__img {
    transition: 1s;
}

.header_active .header-pc__img__img_white {
    opacity: 1;
}

.header_active .header-pc__img__img {
    opacity: 0;
}

.header-pc__fixed__menu {
    top: -100vh;
    left: 200%;
    transition: 1s;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: url('../img/humbger_menu_top.jpg');
    background-size:100% 100%;
    z-index: 6;
    justify-content: flex-end;
}

/*menu-pc*/

.header_active .header-pc__fixed__menu {
    top: 0;
    left: 0;
}

.header-pc__fixed__menu__left {
    width: 90%;
}

.header-pc__fixed__menu__right {
    width: 50%;
    max-width: 50%;
    padding-top: 75px;
    text-align: left;
    background-color: #2FA5DE;
    padding-left: 2%
}

.header-pc__fixed__menu__left__list>a {
    position: relative;
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 35px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.header-pc__fixed__menu__left__list>a::before {
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 100%;
    background: #fff;
    top: 50%;
}

/*.header-pc__fixed__menu__left__list>a::after {
    position: absolute;
    left: calc(100% + 30px);
    content: "▼";
    font-size: 15px;
}*/
/*
.header-pc__fixed__menu__left__list>a::before {
    position: absolute;
    display: inline-block;
    top: calc(100% + 5px);
    left: 0;
    content: "";
    height: 5px;
    width: 0;
    transition: 0.5s;
    background-color: #fff;
}*/
.header-pc__fixed__menu__left__list>a:hover{
    opacity: 0.5;
}
.header-pc__fixed__menu__left__list>a span{
    background-color: #2FA5DE;
    z-index: 3;
    padding: 0px 10px;
}

.header-pc__fixed__menu__left .header-pc__fixed__menu__left__list:nth-child(2)>a::after, .header-pc__fixed__menu__left .header-pc__fixed__menu__left__list:nth-child(3)>a::after, .header-pc__fixed__menu__left .header-pc__fixed__menu__left__list:nth-child(5)>a::after {
    display: none;
}

.header-pc__fixed__menu__left__list:hover>a::before {
    width: 100%;
}

.header-pc__fixed__menu__left__list__list {
    display: inline-block;
}

.header-pc__fixed__menu__left__list ul {
    overflow: hidden;
    height: 0px;
    transition: 1s;
}
.header-pc__fixed__menu__left__list__list{
    color: #fff;
}
.header-pc__fixed__menu__left__list:hover ul {
    height: 29px;
}

.header-pc__fixed__menu__left__list__list a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    padding-bottom: 6px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
}

.header-pc__fixed__menu__left__list__list a::before {
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    content: "";
    height: 2px;
    width: 0;
    transition: 0.5s;
    background-color: #fff;
}

.header-pc__fixed__menu__left__list__list a:hover::before {
    width: 100%;
}

.header-pc__fixed__menu__right__privacy {
    margin-bottom: 30px;
    display: inline-block;
    font-weight: 500;
    font-size: 30px;
    line-height: 46px;
    color: #FFFFFF;
}

.header-pc__fixed__menu__right__contact {
    position: relative;
    display: inline-block;
    padding: 12px 34px 12px 66px;
    margin-bottom: 20px;
    background: #FFFFFF;
    box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.15);
    border-radius: 50px;
    transition: 1s;
}

.header-pc__fixed__menu__right__contact:hover {
    background: var(--textcolor);
    color: #fff;
}

.header-pc__fixed__menu__right__contact img {
    position: absolute;
    top: 12px;
    left: 35px;
    transition: 1s;
}

.header-pc__fixed__menu__right__contact img:nth-child(1) {
    opacity: 1;
}

.header-pc__fixed__menu__right__contact img:nth-child(2) {
    opacity: 0;
}

.header-pc__fixed__menu__right__contact:hover img:nth-child(1) {
    opacity: 0;
}

.header-pc__fixed__menu__right__contact:hover img:nth-child(2) {
    opacity: 1;
}

.header-pc__fixed__menu__right__sns li:nth-child(1) {
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 4px;
    display: inline-block;
    height: 20px;
    width: 30px;
}

.header-pc__fixed__menu__right__sns li:nth-child(2) {
    margin-right: 12.5px;
    margin-left: 12.5px;
    margin-top: 3px;
    display: inline-block;
    height: 22px;
    width: 28px;
}

.header-pc__fixed__menu__right__sns li:nth-child(3) {
    margin-right: 12.5px;
    margin-left: 12.5px;
    display: inline-block;
    height: 28px;
    width: 14px;
}

.header-pc__fixed__menu__right__sns li:nth-child(4) {
    margin-right: 12.5px;
    margin-left: 12.5px;
    display: inline-block;
    margin-top: 2px;
    height: 24px;
    width: 24px;
}

.header-pc__fixed__menu__right__sns li img {
    height: 100%;
    transition: 1s;
}

.header-pc__fixed__menu__right__sns li:hover img {
    opacity: 0.7;
}

/*header-sp-menu*/

.header-sp__img__img_white {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: 1s;
}

.header-sp__img__img {
    transition: 1s;
}

.header_active .header-sp__img__img_white {
    opacity: 1;
}

.header_active .header-sp__img__img {
    opacity: 0;
}

.header-sp__fixed__menu {
    top: -100vh;
    left: 200%;
    transition: 1s;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: var(--textcolor);
    z-index: 6;
}

.header_active .header-sp__fixed__menu {
    top: 0;
    left: 0;
}

.header-sp__fixed__menu__left {
    margin-top: 110px;
    margin-bottom: 110px;
    display: block;
    width: 100%;
}

.header-sp__fixed__menu__right {
    width: 100%;
    display: block;
    text-align: center;
}

.header-sp__fixed__menu__left__list {
    margin-bottom: 15px;
}

.header-sp__fixed__menu__left__list_service>p, .header-sp__fixed__menu__left__list_blog>p {
    position: relative;
}

.header-sp__fixed__menu__left__list>a, .header-sp__fixed__menu__left__list_service>p>a, .header-sp__fixed__menu__left__list_blog>p>a {
    position: relative;
    display: block;
    margin: 0 46px 0 40px;
    font-weight: 500;
    font-size: 18px;
    line-height: 37px;
    color: #FFFFFF;
}

.header-sp__fixed__menu__left__list__pulus {
    position: absolute;
    top: 11px;
    right: 46px;
    width: 15px;
    height: 15px;
}

.header-sp__fixed__menu__left__list__pulus span:nth-child(1) {
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    width: 15px;
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}

.header-sp__fixed__menu__left__list__pulus span:nth-child(2) {
    position: absolute;
    display: inline-block;
    top: 7px;
    left: 0;
    width: 15px;
    transform: rotate(90deg);
    height: 2px;
    background-color: #fff;
    transition: 0.5s;
}

.header-sp__fixed__menu__left__list_service_active .header-sp__fixed__menu__left__list__pulus span:nth-child(1), .header-sp__fixed__menu__left__list_blog_active .header-sp__fixed__menu__left__list__pulus span:nth-child(1) {
    transform: rotate(-180deg);
}

.header-sp__fixed__menu__left__list_service_active .header-sp__fixed__menu__left__list__pulus span:nth-child(2), .header-sp__fixed__menu__left__list_blog_active .header-sp__fixed__menu__left__list__pulus span:nth-child(2) {
    top: 7px;
    left: 0;
    width: 15px;
    height: 2px;
    transform: rotate(0deg);
}

.header-sp__fixed__menu__left__list ul {
    height: 0;
    overflow: hidden;
    transition: 1s;
}

.header-sp__fixed__menu__left__list_service_active ul {
    height: 103px;
}

.header-sp__fixed__menu__left__list_blog_active ul {
    height: 27px;
}

.header-sp__fixed__menu__left__list__list a {
    margin-left: 60px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.header-sp__fixed__menu__right__privacy {
    margin-left: 40px;
    display: block;
    margin-bottom: 30px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #fff;
}

.header-sp__fixed__menu__right__contact {
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding: 17px 72px 18px 98px;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #333333;
    background-color: #fff;
    box-shadow: inset 0px -4px 3px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    transition: 1s;
}

.header-sp__fixed__menu__right__contact img {
    position: absolute;
    top: 19px;
    left: 72px;
    width: 17px;
    transition: 1s;
}

.header-sp__fixed__menu__right__contact:hover {
    background: var(--textcolor);
    color: #fff;
}

.header-sp__fixed__menu__right__contact img:nth-child(1) {
    opacity: 1;
}

.header-sp__fixed__menu__right__contact img:nth-child(2) {
    opacity: 0;
}

.header-sp__fixed__menu__right__contact:hover img:nth-child(1) {
    opacity: 0;
}

.header-sp__fixed__menu__right__contact:hover img:nth-child(2) {
    opacity: 1;
}

.header-sp__fixed__menu__right__sns li:nth-child(1) {
    margin: 3px 17px 0 17px;
    display: inline-block;
    height: 13px;
    width: 20px;
}

.header-sp__fixed__menu__right__sns li:nth-child(2) {
    margin: 2px 17px 0 17px;
    display: inline-block;
    height: 16px;
    width: 20px;
}

.header-sp__fixed__menu__right__sns li:nth-child(3) {
    margin: 0 17px 0 17px;
    display: inline-block;
    height: 20px;
    width: 10px;
}

.header-sp__fixed__menu__right__sns li:nth-child(4) {
    margin: 1px 17px 0 17px;
    display: inline-block;
    height: 18px;
    width: 18px;
}

.header-sp__fixed__menu__right__sns li img {
    height: 100%;
    transition: 1s;
}

.header-sp__fixed__menu__right__sns li:hover img {
    opacity: 0.7;
}
.txt-rotate{
    position: relative;
    margin-left: -55px;
    font-weight: bold;
    font-size: 64px;
    letter-spacing: 0.05em;
    z-index: 2;
    color:#2FA5DE;
    }
