.contact {
    margin-bottom: 80px;
}

.content-title_contact {
    text-align: center;
    margin-bottom: 30px;
}

.content-title_contact::after {
    margin: 0 auto;
}

.content-text_contact br {
    display: none;
}

.contact__img {
    display: block;
    margin: 0 auto 30px auto;
}

.content-text_contact {
    max-width: inherit;
    text-align: center;
    margin-bottom: 30px;
}

.contact__btns {
    display: flex;
    justify-content: center;
}

.btn-wide_call {
    margin-right: 40px;
}

.btn-wide_contact {
    margin-left: 40px;
}

@media (max-width: 767px) {
    .contact{
        margin-bottom: 60px;
    }
    .contact__img {
        margin-bottom: 20px;
    }
    .content-text_contact {
        margin-bottom: 50px;
        font-size: 12px;
        line-height: 18px;
        /* font-weight: bold; */
    }
    .contact__btns{
        display: block;
    }
    .btn-wide_call,
    .btn-wide_contact{
        margin: 0 auto;
    }
    .btn-wide_call{
        margin-bottom: 30px;
    }
    .btn-wide__text_contact, .btn-wide__text_call{
        font-weight: bold;
    }
}